* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFF ;
    font-family: 'Roboto', sans-serif;

}

div {
    padding: 1em;
}
#Rebecca {
    color : #fff;
    background-color: darkblue;
}

#Mathis {
    color: #fff;
    background-color: #24b5a3;
}

#Alexandre {
    color: #fff;
    background-color: coral;
}