#leo, #julia, #julie, #capu
{
    font-family: "Dancing Script SemiBold";
    color: whitesmoke;
}

#leo
{
    background-color: gray;
}

#julia
{
    background-color: firebrick;
}

#julie
{
    background-color: midnightblue;
}

#capu
{
    background-color: moccasin;
}